@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    src: url("/zhong/NotoSans.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    src: url("/zhong/NotoSansItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans SC";
    font-style: normal;
    src: url("/zhong/NotoSansSC.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans TC";
    font-style: normal;
    src: url("/zhong/NotoSansTC.ttf") format("truetype");
}

html {
    --black: #2c0006;
    --grey: #989593;
    --white: #faf1ef;
    --red: #b82132;

    background-color: var(--white);
    color: var(--black);
    --border: 2px solid var(--red);
    --padding-compensation: 3px;

    font-size: 20px;
    font-family: "Noto Sans", "Noto Sans SC", "Noto Sans TC", sans-serif;
    font-weight: 400;
}