#category {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
}
#category div {
  display: grid;
  place-items: center;
  height: 3rem;
  width: 3rem;
}
#category .active {
  background-color: #b82132;
  color: #b82132;
}