html:has(#pin:checked) :is(.ipa, .zhuyin), html:has(#ipa:checked) :is(.pinyin, .zhuyin), html:has(#zhu:checked) :is(.pinyin, .ipa) {
  display: none;
}

content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.radio {
  position: absolute;
}
.radio#alphabet {
  left: 0;
}

#specials:hover .header, #finals .right:has(:nth-child(5n+5):hover) :nth-child(5n+5), #finals .right:has(:nth-child(5n+4):hover) :nth-child(5n+4), #finals .right:has(:nth-child(5n+3):hover) :nth-child(5n+3), #finals .right:has(:nth-child(5n+2):hover) :nth-child(5n+2), #finals .right:has(:nth-child(5n+1):hover) :nth-child(6), #finals .right:has(:nth-child(5n+1):hover) :first-child, #finals:has(.row.r5 .cell:hover) .right :nth-child(5n+5), #finals:has(.row.r4 .cell:hover) .right :nth-child(5n+4), #finals:has(.row.r3 .cell:hover) .right :nth-child(5n+3), #finals:has(.row.r2 .cell:hover) .right :nth-child(5n+2), #finals:has(.row.r1 .cell:hover) .right :nth-child(5n+1), #finals:has(.row.l3 .cell:hover) .left :nth-child(3), #finals:has(.row.l2 .cell:hover) .left :nth-child(2), #finals:has(.row.l1 .cell:hover) .left :nth-child(1), #finals:has(.row .cell:nth-child(4):hover) .top :nth-child(4), #finals:has(.row .cell:nth-child(3):hover) .top :nth-child(3), #finals:has(.row .cell:nth-child(2):hover) .top :nth-child(2), #finals:has(.row .cell:nth-child(1):hover) .top :nth-child(1), #finals .head:has(:first-child:hover) ~ .left *, #finals .head:has(:nth-child(2):hover) ~ .top *, #finals .head:has(:nth-child(3):hover) ~ .right *, #initials:has(.row .cell:nth-child(6):hover) .top :nth-child(5), #initials:has(.row .cell:nth-child(5):hover) .top :nth-child(4), #initials:has(.row .cell:nth-child(4):hover) .top :nth-child(3), #initials:has(.row .cell:nth-child(3):hover) .top :nth-child(2), #initials:has(.row .cell:nth-child(2):hover) .top :nth-child(1), #initials .suprow > .header:hover ~ .row .header, #initials .suprow:has(.cell:hover, .row .header:hover) > .header, #initials .row:has(.cell:hover) .header, #initials .header:hover, #finals .header:hover, #specials .header:hover, #tones .header:hover {
  color: var(--white);
  background-color: var(--red);
}

#specials .header:hover::after, #finals .right:has(:nth-child(5n+1):hover) :first-child::after, #finals .right:has(:nth-child(5n+5):hover) :nth-child(5n+5)::after, #finals .right:has(:nth-child(5n+4):hover) :nth-child(5n+4)::after, #finals .right:has(:nth-child(5n+3):hover) :nth-child(5n+3)::after, #finals .right:has(:nth-child(5n+2):hover) :nth-child(5n+2)::after, #finals .right:has(:nth-child(5n+1):hover) :nth-child(6)::after, #finals .left :not(:first-child):hover::after, #finals .left :first-child:hover::after, #finals .top .header:hover::after, #initials .top .header:hover::after, #initials .suprow > .header:hover::after, #initials .row .header:hover::after {
  content: "";
  pointer-events: none;
  position: absolute;
  border: var(--border);
  box-sizing: border-box;
}

#initials, #finals, #specials, #tones {
  display: grid;
}
#initials .header, #initials .cell, #finals .header, #finals .cell, #specials .header, #specials .cell, #tones .header, #tones .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
#initials .header, #finals .header, #specials .header, #tones .header {
  font-weight: var(--bold);
  position: relative;
}
#initials .cell:not(.locked):hover, #finals .cell:not(.locked):hover, #specials .cell:not(.locked):hover, #tones .cell:not(.locked):hover {
  box-sizing: border-box;
  border: var(--border);
}
#initials .locked, #finals .locked, #specials .locked, #tones .locked {
  border: var(--bold-border);
}
#initials .shadow, #finals .shadow, #specials .shadow, #tones .shadow {
  font-weight: var(--light);
  color: var(--grey);
}

#tones {
  grid-template: 2.5rem 5rem/repeat(5, 4.5rem);
}
#tones .cells div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#tones .cells div :first-child {
  font-size: 2rem;
  font-weight: var(--light);
  cursor: pointer;
  user-select: none;
}
#tones .cells div :last-child {
  font-size: 1rem;
}

#finals .rows .row, #finals .top, #finals .head, #initials .rows .row, #initials .rows, #initials .top, #tones .head, #tones .cells {
  display: contents;
}

#initials {
  grid-template: repeat(8, 2.5rem)/repeat(6, 4.5rem);
}
#initials .rows .suprow {
  grid-row: span 2;
  grid-column: 1/-1;
  display: grid;
  grid-template: subgrid/repeat(2, 2.25rem) repeat(5, 4.5rem);
}
#initials .rows .suprow > .header {
  grid-row: span 2;
  writing-mode: vertical-lr;
}
#initials .row .header:hover::after {
  right: -22.5rem;
  height: 2.5rem;
  width: 22.5rem;
}
#initials .suprow > .header:hover::after {
  left: 4.5rem;
  height: 5rem;
  width: 22.5rem;
}
#initials .top .header:hover::after {
  top: 2.5rem;
  height: 17.5rem;
  width: 4.5rem;
}

#finals {
  grid-template: repeat(13, 2.5rem)/repeat(6, 4.5rem);
}
#finals .head :first-child, #finals .head :nth-child(3) {
  grid-row: span 2;
}
#finals .head :nth-child(2) {
  grid-column: span 4;
}
#finals .left, #finals .right {
  grid-row: span 11;
  display: grid;
  grid-template-rows: subgrid;
}
#finals .left :not(:first-child) {
  grid-row: span 5;
}
#finals .right :first-child {
  grid-row: span 2;
}
#finals .rows {
  grid-row: span 11;
  grid-column: span 4;
  display: grid;
  grid-template: subgrid/subgrid;
}
#finals .top .header:hover::after {
  top: 2.5rem;
  height: 27.5rem;
  width: 4.5rem;
}
#finals .left :first-child:hover::after {
  left: 4.5rem;
  height: 2.5rem;
  width: 18rem;
}
#finals .left :not(:first-child):hover::after {
  left: 4.5rem;
  height: 12.5rem;
  width: 18rem;
}
#finals .right:has(:nth-child(5n+5):hover) :nth-child(5n+5)::after, #finals .right:has(:nth-child(5n+4):hover) :nth-child(5n+4)::after, #finals .right:has(:nth-child(5n+3):hover) :nth-child(5n+3)::after, #finals .right:has(:nth-child(5n+2):hover) :nth-child(5n+2)::after, #finals .right:has(:nth-child(5n+1):hover) :nth-child(6)::after {
  right: 4.5rem;
  height: 2.5rem;
  width: 18rem;
}
#finals .right:has(:nth-child(5n+1):hover) :first-child::after {
  right: 4.5rem;
  height: 5rem;
  width: 18rem;
}
#specials {
  grid-template: repeat(4, 2.5rem)/4.5rem;
}
#specials .header:hover::after {
  top: 2.5rem;
  height: 7.5rem;
  width: 4.5rem;
}