content {
    display: grid;
    place-items: center;
}


svg {
    width: 500px;
    height: 500px;

    &:has(.stroke:hover) #yong {
        fill: var(--grey);
    }
    #yong {
        fill: var(--black);
    }
    .stroke {
        fill: transparent;
        &:hover {
            fill: var(--black);
        }
    }
}